# All the modules needed by OdooCoop and not found in the OCA/OCB core
xmlsig==0.1.4
odoo12-addon-account-asset-management==12.0.2.3.0.99.dev3
odoo12-addon-account-banking-mandate==12.0.2.0.0.99.dev7
odoo12-addon-account-banking-pain-base==12.0.1.0.1
odoo12-addon-account-banking-sepa-credit-transfer==12.0.1.0.0.99.dev5
odoo12-addon-account-banking-sepa-direct-debit==12.0.1.1.0
odoo12-addon-account-due-list==12.0.1.0.0.99.dev7
odoo12-addon-account-financial-report==12.0.1.2.1
odoo12-addon-account-fiscal-year==12.0.1.0.0.99.dev6
odoo12-addon-account-group-menu==12.0.1.0.0.99.dev12
odoo12-addon-account-invoice-check-total==12.0.1.1.0.99.dev11
odoo12-addon-account-invoice-force-number==12.0.1.0.0.99.dev11
odoo12-addon-account-invoice-refund-link==12.0.1.0.0.99.dev4
odoo12-addon-account-lock-date-update==12.0.1.0.0.99.dev9
odoo12-addon-account-payment-mode==12.0.1.0.0.99.dev14
odoo12-addon-account-payment-order==12.0.1.0.2
odoo12-addon-account-payment-partner==12.0.1.0.0.99.dev13
odoo12-addon-account-payment-return==12.0.1.0.0.99.dev20
odoo12-addon-account-payment-return-import==12.0.1.0.0.99.dev10
odoo12-addon-account-payment-return-import-iso20022==12.0.1.1.0
odoo12-addon-account-payment-sale==12.0.1.1.0
odoo12-addon-account-tax-balance==12.0.1.1.0.99.dev5
odoo12-addon-account-type-menu==12.0.1.0.0.99.dev7
odoo12-addon-base-bank-from-iban==12.0.1.0.0.99.dev2
odoo12-addon-base-iso3166==12.0.1.0.0.99.dev4
odoo12-addon-base-location==12.0.1.0.2.99.dev2
odoo12-addon-base-location-geonames-import==12.0.1.0.1
odoo12-addon-base-technical-features==12.0.1.0.0.99.dev11
odoo12-addon-base-user-role==12.0.1.0.0.99.dev9
odoo12-addon-currency-rate-update==12.0.1.1.2.99.dev3
odoo12-addon-date-range==12.0.1.0.0.99.dev11
odoo12-addon-l10n-es-account-asset==12.0.2.0.6.99.dev4
odoo12-addon-l10n-es-account-bank-statement-import-n43==12.0.1.0.3
odoo12-addon-l10n-es-account-banking-sepa-fsdd==12.0.1.0.0.99.dev4
odoo12-addon-l10n-es-account-invoice-sequence==12.0.1.0.1.99.dev5
odoo12-addon-l10n-es-aeat==12.0.2.3.0.99.dev6
git+https://github.com/coopdevs/l10n-spain@12.0-import-customer-facturae#egg=odoo12-addon-l10n-es-facturae&subdirectory=setup/l10n_es_facturae
odoo12-addon-l10n-es-irnr==12.0.2.0.0.99.dev3
odoo12-addon-l10n-es-mis-report==12.0.1.0.0.99.dev5
odoo12-addon-l10n-es-partner==12.0.1.0.2
odoo12-addon-l10n-es-partner-mercantil==12.0.1.0.0.99.dev7
odoo12-addon-l10n-es-toponyms==12.0.1.0.0.99.dev8
odoo12-addon-l10n-es-vat-book==12.0.1.6.2
odoo12-addon-mail-tracking==12.0.1.1.3
odoo12-addon-mass-editing==12.0.1.0.0.99.dev12
odoo12-addon-mis-builder==12.0.3.4.0.99.dev3
odoo12-addon-mis-builder-budget==12.0.3.3.0.99.dev1
odoo12-addon-mis-builder-demo==12.0.3.0.1.99.dev4
odoo12-addon-partner-external-map==12.0.1.0.0.99.dev6
odoo12-addon-partner-firstname==12.0.1.0.0.99.dev11
odoo12-addon-report-py3o==12.0.2.0.2.99.dev18
odoo12-addon-report-xlsx==12.0.1.0.2
odoo12-addon-web-advanced-search==12.0.1.0.0.99.dev10
odoo12-addon-web-decimal-numpad-dot==12.0.1.0.0.99.dev5
odoo12-addon-web-environment-ribbon==12.0.1.0.0.99.dev16
odoo12-addon-web-favicon==12.0.1.0.0.99.dev8
odoo12-addon-web-no-bubble==12.0.1.0.0.99.dev4
odoo12-addon-web-responsive==12.0.1.3.2
odoo12-addon-web-searchbar-full-width==12.0.1.0.0.99.dev3
odoo12-addon-web-timeline==12.0.1.0.5.99.dev12
odoo12-addon-web-widget-color==12.0.1.0.0.99.dev4
odoo12-addon-web-widget-image-download==12.0.1.0.0.99.dev5
odoo12-addon-web-widget-many2many-tags-multi-selection==12.0.1.0.0.99.dev3
odoo12-addon-auth-keycloak==12.0.0.0.0
odoo12-addon-mass-mailing-list-dynamic==12.0.1.0.4
odoo12-addon-community-maps==12.0.0.2.4
git+https://github.com/coopiteasy/vertical-cooperative@12.0#egg=odoo12-addon-easy-my-coop&subdirectory=setup/cooperator
git+https://github.com/coopiteasy/vertical-cooperative@12.0#egg=odoo12-addon-easy-my-coop-website&subdirectory=setup/cooperator_website
git+https://github.com/coopiteasy/vertical-cooperative@12.0#egg=odoo12-addon-easy-my-coop-es&subdirectory=setup/l10n_es_cooperator
odoo12-addon-ce==12.0.0.0.10
python-slugify==5.0.2
